@import url('https://fonts.googleapis.com/css?family=Poppins');

$widthLikeA4: 210mm;
$heightLikeA4: 297mm;
$mainFont: 'Poppins', sans-serif;
$mainFontColor: #FFF;
$mainBackground: #FFF;
$secondaryBackground: #2A2E36;
$nameBackground: #B7C4CF;
$fromNamePadding: 20vh;
$leftSiteWidth: 37%;
$leftSitePadding: 20px;

body {
    margin: 0;
    position: relative;
}

a,
a:hover,
a:visited {
    text-decoration: none;
}

.cv {
    height: $heightLikeA4;
    width: $widthLikeA4;
    display: block;
    position: relative;

    .nameWrapper {
        position: absolute;
        font-family: $mainFont;
        color: $mainFontColor;
        margin: 20px 0px;
        background-color: red;
    }

    .leftSiteWrapper {
        height: $heightLikeA4;
        width: $leftSiteWidth;
        background-color: $secondaryBackground;
        font-family: $mainFont;
        display: block;
        color: $mainFontColor;

        h2 {
            text-transform: uppercase;
            padding-left: $leftSitePadding;
            margin: 0;
        }

        hr {
            margin-left: $leftSitePadding;
            margin-right: $leftSitePadding;
        }

        p,
        span {
            padding-left: $leftSitePadding;
        }

        .contactInfo {
            padding-top: $fromNamePadding;
            margin-bottom: 2em;

            .contactBox {
                display: flex;
                justify-content: start;
                align-items: center;
                flex-wrap: wrap;
                gap: 5px;
                padding-left: $leftSitePadding;
                margin-bottom: 10px;

                .contactImg {
                    height: 25px;
                    margin-right: 10px;
                    background-color: $nameBackground;
                }

                .contactText {
                    color: $mainFontColor;
                }
            }

        }

        .educationInfo {
            margin-bottom: 1em;

            p {
                margin: 0;
            }
        }
    }

    .rightSiteWrapper {}


}