<div class="cv">
  <section class="leftSiteWrapper">
    <section class="contactInfo">
      <div class="contactBox">
        <img class="contactImg" src="assets/images/phone.webp" alt="phone">
        <a class="contactText" href="tel:+48664599088">+48 664 599 088</a>
      </div>
      <div class="contactBox">
        <img class="contactImg" src="assets/images/mail.webp" alt="phone">
        <a class="contactText" href="mailto:j.j.horbacz@gmail.com">j.j.horbacz@gmail.com</a>
      </div>
      <div class="contactBox">
        <img class="contactImg" src="assets/images/city.webp" alt="city">
        <a class="contactText" href="https://www.google.com/maps/place/Lublin" target="_blank">Lublin</a>
      </div>
      <div class="contactBox">
        <img class="contactImg" src="assets/images/linkedin.webp" alt="linkedin">
        <a class="contactText" href="https://www.linkedin.com/in/jjhorbacz/"
          target="_blank">linkedin.com/in/jjhorbacz</a>
      </div>
      <div class="contactBox">
        <img class="contactImg" src="assets/images/github.webp" alt="github">
        <a class="contactText" href="https://github.com/Xedilius" target="_blank">github.com/Xedilius</a>
      </div>
      <div class="contactBox">
        <img class="contactImg" src="assets/images/site.webp" alt="site">
        <a class="contactText" href="https://www.cybermat.pl/projekty/" target="_blank">cybermat.pl/projekty</a>
      </div>
    </section>
    <section class="educationInfo">
      <h2>Education</h2>
      <hr>
      <p><strong>University of Technology, Lublin</strong></p>
      <p><strong>Master of Science, Mechatronics</strong></p>
      <p>2014-2019</p>
    </section>
    <section class="skillsInfo">
      <h2>Skills</h2>
      <hr>
      <p>HTML</p>
      <p>CSS/SCSS/LESS</p>
      <p>JavaScript</p>
      <p>Angular</p>
      <p>Git</p>
    </section>
    <section class="languageInfo">
      <h2>Language</h2>
      <hr>
      <p>Polish - native</p>
      <p>English - B2</p>
      <p>German - basic</p>
    </section>
  </section>
  <section class="rightSiteWrapper"></section>
  <section class="nameWrapper">
    <h1>Jakub Horbacz</h1>
  </section>
</div>