a {
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}

ul {
  padding: 0;
}

body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

header .wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 220px;
  background-color: #000;
}
header .wrapper .sinusWrapper {
  height: 220px;
  width: 100%;
  position: absolute;
}
header .wrapper .sinusWrapper #sinus1 {
  color: #FFF;
  width: 100%;
  height: 220px;
}
header .wrapper .sinusWrapper #sinus1 .aplitudeWrapper #line1 {
  stroke-width: 1;
  stroke: #3c3c3c;
  display: none;
}
header .wrapper .sinusWrapper #sinus1 .aplitudeWrapper #wave1 {
  fill: none;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
}
header .wrapper .thunder {
  position: absolute;
  background-image: url("../../pics/lighting.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 220px;
  opacity: 0;
}
header .wrapper .thunder {
  -webkit-animation-name: thunder-effect;
          animation-name: thunder-effect;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /*   animation-delay: 1s; */
}
@-webkit-keyframes thunder-effect {
  0%, 25%, 35%, 69%, 85%, 100% {
    opacity: 0;
  }
  30%, 70%, 90%, 95% {
    opacity: 1;
  }
}
@keyframes thunder-effect {
  0%, 25%, 35%, 69%, 85%, 100% {
    opacity: 0;
  }
  30%, 70%, 90%, 95% {
    opacity: 1;
  }
}
header .wrapper .logo {
  height: 220px;
  width: 100%;
}
header .wrapper .logo #logo1 {
  margin: 0 auto;
  padding: 20px 0;
  display: block;
  height: 220px;
  z-index: 99999;
  position: relative;
}
header .wrapper .navigation {
  border-right: 2px;
  border-left: 2px;
  background-color: #FFF;
  margin: 30px 0;
}
header .wrapper .navigation ul {
  text-align: center;
  margin-bottom: 0;
  margin: 2px 0;
}
header .wrapper .navigation ul li {
  list-style: none;
  display: inline-block;
  margin: 10px 0;
}
header .wrapper .navigation ul li a {
  display: block;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  padding: 5px 10px;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}
header .wrapper .navigation ul li a:hover {
  background-color: #605081;
}

#parallaxBack {
  width: 100%;
  height: 100vh;
  background: url("../../pics/space.webp");
  z-index: -1;
  position: fixed;
  background-size: cover;
  background-position: center;
}

.pasek {
  margin-top: 48px;
  height: 60vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pasek #logo {
  margin: 0 auto;
  padding: 20px 0;
  display: block;
  height: 75%;
  z-index: 99999;
  position: relative;
}
.pasek .przesunPasek {
  list-style-type: none;
  margin: 0;
  width: 800px;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #FFF;
  border-radius: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 51% 90px;
}
.pasek .przesunPasek li {
  display: none;
}
.pasek .przesunPasek li a {
  text-align: center;
  color: #000;
}
.pasek .przesunPasek li p {
  text-align: center;
  width: 100%;
  color: #000;
  margin-bottom: 0;
  text-transform: uppercase;
}
.pasek .przesunPasek li .autor {
  margin-bottom: 0;
  padding-left: 6vw;
  font-style: oblique;
  margin-top: 3px;
  text-transform: none;
}

.bodyWrapper {
  background-color: #FFF;
}
.bodyWrapper .leftLoop {
  display: inline-block;
  height: 80px;
  width: 100%;
  position: relative;
  font-size: 10px;
  overflow: hidden;
  border-right: 2px;
  border-left: 2px;
  background-color: #000;
  margin: 30px 0;
}
.bodyWrapper .leftLoop .loopWrapper {
  position: absolute;
  height: 100%;
  width: 400%;
  margin-top: 0;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-animation: leftcrawl 20s linear infinite;
          animation: leftcrawl 20s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
.bodyWrapper .leftLoop .loopWrapper span {
  font-size: 2em;
  margin-right: 10px;
  color: #FFF;
}
@-webkit-keyframes leftcrawl {
  to {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}
@keyframes leftcrawl {
  to {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

.projekty {
  background-color: #FFF;
  padding-top: 2em;
  padding-bottom: 5em;
}
.projekty #my-projects {
  margin-top: 2em;
  margin-bottom: 2em;
}
.projekty #my-projects h2 {
  text-align: center;
}
.projekty #my-projects .projectsWrapper {
  padding-top: 2em;
}
.projekty #my-projects .projectsWrapper .oneOfProjects {
  border: #000 solid 2px;
  border-radius: 15px;
  padding: 15px;
}
.projekty #my-projects .projectsWrapper .oneOfProjects h2,
.projekty #my-projects .projectsWrapper .oneOfProjects h3 {
  text-align: left;
}
.projekty #my-projects .projectsWrapper .oneOfProjects h3 {
  font-size: 1.2em;
}
.projekty #my-projects .projectsWrapper .oneOfProjects img {
  height: 150px;
  margin-bottom: 15px;
}

footer {
  background-color: #FFF;
  color: #224DBE;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
  text-decoration: none;
  color: #224DBE;
}

@media screen and (min-width: 957px) and (max-width: 1300px) {
  header .wrapper {
    padding: 0;
    width: 100%;
    height: 220px;
  }
  header .wrapper .thunder {
    height: 220px;
  }
  header .wrapper .logo {
    height: 220px;
    width: 100%;
  }
  header .wrapper .logo #logo1 {
    padding: 20px 0;
    height: 220px;
    z-index: 99999;
  }
  header .wrapper .navigation {
    border-right: 2px;
    border-left: 2px;
    margin: 30px 0;
  }
  header .wrapper .navigation ul {
    margin-bottom: 0;
    margin: 2px 0;
  }
  header .wrapper .navigation ul li {
    margin: 10px 0;
  }
  header .wrapper .navigation ul li a {
    padding: 5px 10px;
  }
  #parallaxBack {
    width: 100%;
    height: 100vh;
  }
  .pasek {
    margin-top: 48px;
    height: 60vh;
    width: 100%;
  }
  .pasek #logo {
    margin: 0 auto;
    padding: 20px 0;
    height: 75%;
    z-index: 99999;
  }
  .pasek .przesunPasek {
    margin: 0;
    width: 800px;
    height: 180px;
    border-radius: 60%;
    border-radius: 51% 90px;
  }
  .pasek .przesunPasek li p {
    width: 100%;
    margin-bottom: 0;
  }
  .pasek .przesunPasek li .autor {
    margin-bottom: 0;
    padding-left: 6vw;
    margin-top: 3px;
  }
  .bodyWrapper .leftLoop {
    height: 80px;
    width: 100%;
    font-size: 10px;
    border-right: 2px;
    border-left: 2px;
    margin: 30px 0;
  }
  .bodyWrapper .leftLoop .loopWrapper {
    height: 100%;
    width: 400%;
    margin-top: 0;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    -webkit-animation: leftcrawl 20s linear infinite;
            animation: leftcrawl 20s linear infinite;
  }
  .bodyWrapper .leftLoop .loopWrapper span {
    font-size: 2em;
    margin-right: 10px;
  }
  .projekty {
    padding-top: 2em;
    padding-bottom: 5em;
  }
  .projekty #my-projects {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .projekty #my-projects .projectsWrapper {
    padding-top: 2em;
  }
  .projekty #my-projects .projectsWrapper .oneOfProjects {
    padding: 15px;
  }
  .projekty #my-projects .projectsWrapper .oneOfProjects h2,
  .projekty #my-projects .projectsWrapper .oneOfProjects h3 {
    text-align: left;
  }
  .projekty #my-projects .projectsWrapper .oneOfProjects h3 {
    font-size: 1.2em;
  }
  .projekty #my-projects .projectsWrapper .oneOfProjects img {
    height: 10vw;
  }
  footer {
    color: #224DBE;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 758px) and (max-width: 956px) {
  header .wrapper {
    padding: 0;
    width: 100%;
    height: 220px;
  }
  header .wrapper .thunder {
    height: 220px;
  }
  header .wrapper .logo {
    height: 220px;
    width: 100%;
  }
  header .wrapper .logo #logo1 {
    padding: 20px 0;
    height: 220px;
    z-index: 99999;
  }
  header .wrapper .navigation {
    border-right: 2px;
    border-left: 2px;
    margin: 30px 0;
  }
  header .wrapper .navigation ul {
    margin-bottom: 0;
    margin: 2px 0;
  }
  header .wrapper .navigation ul li {
    margin: 10px 0;
  }
  header .wrapper .navigation ul li a {
    padding: 5px 10px;
  }
  #parallaxBack {
    width: 100%;
    height: 100vh;
  }
  .pasek {
    margin-top: 48px;
    height: 60vh;
    width: 100%;
  }
  .pasek #logo {
    margin: 0 auto;
    padding: 20px 0;
    height: 75%;
    z-index: 99999;
  }
  .pasek .przesunPasek {
    margin: 0;
    width: 800px;
    height: 180px;
    border-radius: 60%;
    border-radius: 51% 90px;
  }
  .pasek .przesunPasek li p {
    width: 100%;
    margin-bottom: 0;
  }
  .pasek .przesunPasek li .autor {
    margin-bottom: 0;
    padding-left: 6vw;
    margin-top: 3px;
  }
  .bodyWrapper .leftLoop {
    height: 80px;
    width: 100%;
    font-size: 10px;
    border-right: 2px;
    border-left: 2px;
    margin: 30px 0;
  }
  .bodyWrapper .leftLoop .loopWrapper {
    height: 100%;
    width: 400%;
    margin-top: 0;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    -webkit-animation: leftcrawl 20s linear infinite;
            animation: leftcrawl 20s linear infinite;
  }
  .bodyWrapper .leftLoop .loopWrapper span {
    font-size: 2em;
    margin-right: 10px;
  }
  .projekty {
    padding-top: 2em;
    padding-bottom: 5em;
  }
  .projekty #my-projects {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .projekty #my-projects .projectsWrapper {
    padding-top: 2em;
  }
  .projekty #my-projects .projectsWrapper .oneOfProjects {
    padding: 15px;
  }
  .projekty #my-projects .projectsWrapper .oneOfProjects h2,
  .projekty #my-projects .projectsWrapper .oneOfProjects h3 {
    text-align: left;
  }
  .projekty #my-projects .projectsWrapper .oneOfProjects h3 {
    font-size: 1.2em;
  }
  .projekty #my-projects .projectsWrapper .oneOfProjects img {
    height: 10vw;
  }
  footer {
    color: #224DBE;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 0px) and (max-width: 757px) {
  header .wrapper {
    padding: 0;
    width: 100%;
    height: 220px;
  }
  header .wrapper .thunder {
    height: 220px;
  }
  header .wrapper .logo {
    height: 220px;
    width: 100%;
  }
  header .wrapper .logo #logo1 {
    padding: 20px 0;
    height: 220px;
    z-index: 99999;
  }
  header .wrapper .navigation {
    border-right: 2px;
    border-left: 2px;
    margin: 30px 0;
  }
  header .wrapper .navigation ul {
    margin-bottom: 0;
    margin: 2px 0;
  }
  header .wrapper .navigation ul li {
    margin: 10px 0;
  }
  header .wrapper .navigation ul li a {
    padding: 5px 10px;
  }
  #parallaxBack {
    width: 100%;
    height: 100vh;
  }
  .pasek {
    margin-top: 48px;
    width: 100%;
    height: 60vh;
  }
  .pasek #logo {
    margin: 0 auto;
    padding: 20px 0;
    height: 75%;
    z-index: 99999;
  }
  .pasek .przesunPasek {
    margin: 0;
    width: 90vw;
    height: 180px;
    border-radius: 60%;
    border-radius: 51% 90px;
    padding: 8vw;
  }
  .pasek .przesunPasek li p {
    width: 100%;
    margin-bottom: 0;
    font-size: 2.5vw;
  }
  .pasek .przesunPasek li .autor {
    margin-bottom: 0;
    padding-left: 6vw;
    margin-top: 3px;
  }
  .bodyWrapper .leftLoop {
    height: 80px;
    width: 100%;
    font-size: 10px;
    border-right: 2px;
    border-left: 2px;
    margin: 30px 0;
  }
  .bodyWrapper .leftLoop .loopWrapper {
    height: 100%;
    width: 400%;
    margin-top: 0;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    -webkit-animation: leftcrawl 20s linear infinite;
            animation: leftcrawl 20s linear infinite;
  }
  .bodyWrapper .leftLoop .loopWrapper span {
    font-size: 2em;
    margin-right: 10px;
  }
  .projekty {
    padding-top: 2em;
    padding-bottom: 5em;
  }
  .projekty #my-projects {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .projekty #my-projects .projectsWrapper {
    padding-top: 2em;
    padding-left: 15px;
  }
  .projekty #my-projects .projectsWrapper .oneOfProjects {
    padding: 15px;
  }
  .projekty #my-projects .projectsWrapper .oneOfProjects h2,
  .projekty #my-projects .projectsWrapper .oneOfProjects h3 {
    text-align: left;
  }
  .projekty #my-projects .projectsWrapper .oneOfProjects h3 {
    font-size: 1.2em;
  }
  .projekty #my-projects .projectsWrapper .oneOfProjects img {
    height: 30vw;
  }
  footer {
    color: #224DBE;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}/*# sourceMappingURL=style.css.map */